{% extends 'base.html.twig' %}

{% block morestylesheets %}


<style type="text/css">
    li * {
        display: inline-block;
        margin: 0 10px;
    }
</style>{% endblock %}{% block title %}Creating quiz{% endblock %}{% block body %}<div class="container"><div class="example-wrapper">


<h1>Créer un nouveau Quiz</h1></div>{% if quiz %}
{{ form_start(formQuiz)}}
<div class=" form-group">
    {{ form_row(formQuiz.name,{'attr':{'placeholder':"Titre du Quiz",'class':'form-control'}}) }}
</div>

<div class=" form-group">
    {{ form_row(formQuiz.categorie,{'attr':{'class':'form-control'}}) }}
</div>

<div class=" form-group">
    {{ form_row(formQuiz.image,{'attr':{'placeholder':"Url de l'image",'class':'form-control'}}) }}

</div>


<div>

    <button class="btn btn-success" type="submit">Ajouter le Quiz</button>

    {{ form_end(formQuiz)}}


{% endif %}</div></section>{% endblock %}
